<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" href="css/materialize.min.css" type="text/css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/oneButton.css" />
        <title>Hello World</title>
        <script type="text/javascript" src="js/angular.js"></script>
        <script type="text/javascript" src="js/util2.js"></script>
        <script type="text/javascript" src="js/oneButton.js"></script>
    </head>
    <body>

        <div ng-app="oneButton" ng-controller="Page as page" class="container">


            <div class="fixed-action-btn" style="bottom: 2em;right:2em;">
                <a class="btn-floating btn-large waves-effect waves-light red " ng-controller="ButtonCtrl" id="oneButton" ng-click="clickFunc()" ng-show="ButtonCtrl.available">
                    <i class = "large mdi-editor-mode-edit"></i>
                </a>
            </div>

            <div class="row" style="">
                <div class="col s4 offset-s4 grid-example">
                </div>
            </div>


            <div ng-controller="ListViewCtrl">
                <div class="row" >
                <ul class ="col s12 m10">
                    <li class="card-panel {{eventItem.type_color}}" ng-repeat="eventItem in ListView.List | orderBy:'id':true " >
                        <div class = "container">
                            <div class = "row">
                                <div class = "col s8 m8 ">
                                    {{ eventItem.eventTime }} - {{ eventItem.duration | millseconds2Read  }}
                                </div>

                                <div class = "col s4 m4">
                                    <ul id="ev{{eventItem.eventTime|int2str}}" class="dropdown-content">
                                        <li ng-repeat="typeitem in typeList" ng-click="clickConfig( eventItem.id, typeitem.id )">
                                            <a> {{typeitem.type_name}} </a>
                                        </li>
                                    </ul>
                                    <a class="dropdown-button btn" href="#" data-activates="ev{{eventItem.eventTime}}" style="white-space: nowrap; width: 9em;" >
                                        {{eventItem.type_name}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
            </div>


            <ul>
                <li ng-repeat="cataitem in cataList">
                    {{ cataitem }}
                    <!--
                    <a ng-click="Page.delCata(cataitem.id)"> X </a>
                    -->
                </li> 
            </ul>
            <button ng-click="Page.getCataList()"> getCataList</button>
            <br />
            <input type="text" ng-model="addCataName" />
            <button ng-click="Page.addCata( addCataName )" > add Cata</button>
            <hr />

            <ul>
                <li ng-repeat="typeitem in typeList">
                    {{ typeitem }} 
                </li> 
            </ul>
            <button ng-click="Page.getTypeList()"> getTypeList </button>
            <br />
            <input type="text" ng-model="addTypeName" />
            <input type="text" ng-model="addTypeColor" />
            <input type="text" ng-model="addTypeCataId" />

            <button ng-click="Page.addType( addTypeName, addTypeColor,
                addTypeCataId )"> addType </button>

            <ul>
                <li ng-repeat="event in eventList">
                    {{ event }}
                </li> 
            </ul>
            <button ng-click="Page.getEventList()"> getEventList </button>


        </div>


    
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script src="js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>

