<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" href="css/materialize.min.css" type="text/css" media="all" />
        <link rel="stylesheet" type="text/css" href="css/oneButton.css" />
        <title>Hello World</title>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/util.js"></script>
        <script type="text/javascript" src="js/oneButton.js"></script>
    </head>
    <body>

        <div ng-app="oneButton" ng-controller="Page" >
            {{ Page.name }}
            <div ng-controller="ListView">
                {{ListView.name}}
                <div ng-repeat="item in ListView.List" style="background-color : {{ item.getColor() }}">
                    <div ng-click="item.toggleDisplayFull()">
                        {{ item.date }}
                        <div ng-show="item.displayFull">
                            {{item.type}}
                            <br />
                            <button ng-repeat="color in ListView.getTypeList()" ng-click='ListView.setType(item, color)'>
                                {{color}}
                            </button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-floating btn-large waves-effect waves-light red">
                <i class="mdi-content-add"></i>
            </div>
            <div class="oneButton" ng-click="ButtonCtrl.clickFunc()" ng-controller="ButtonCtrl">
                {{ ButtonCtrl.name }}
            </div>
        </div>


        <!-- 
        <script type="text/javascript" src="js/index.js"></script>
        -->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/materialize.min.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>

